@model List<Table>;

@{
	ViewData["Title"] = "List of Tables";
}
<div class="text-center">
	<h1>@ViewData["Title"]</h1>
</div>

<div class="col">
	<table>
		<thead>
            <tr>
                <th>Id</th>
                <th>Chairs</th>
                <th>Location</th>
                <th>Details</th>
            </tr>
		</thead>
		<tbody>
			@foreach (var Tables in Model)
			{
            <tr>
                <td> @Tables.Id</td>
                <td> @Tables.Chairs</td>
                <td> @Tables.Location</td>
                <td>@Html.ActionLink("Details", "ViewTable", "Table", new { id = Tables.Id })</td>
            </tr>


			}
		</tbody>
	</table>

</div>

