@{
    ViewData["Title"] = "Home Page";
}
@model BookingConflictViewModel;

<div class="col">
    <table>
        <thead>
            <tr>
                <th>Date and Time</th>
                <th>Guests</th>
                <th>Location</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Phone Number</th>
                <th>Email Address</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var booking in Model.ConflictedBooking)
            {
            <tr>
                <td> @booking.Time</td>
                <td> @booking.Guests</td>
                <td> @booking.RequestedLocation</td>
                <td> @booking.FirstName</td>
                <td> @booking.LastName</td>
                <td> @booking.PhoneNumber</td>
                <td> @booking.EmailAddress</td>
            </tr>


    }
        </tbody>
    </table>

</div>



