@model BookingConflictViewModel;

@{
    ViewData["Title"] = "Holidays";
}
<div class="text-center">
    <h1>@ViewData["Title"]</h1>
    <p>Please complete this form to book holidays</p>
</div>

@Html.ValidationSummary()

<form method="POST" class="holidays" action="@Url.Action("Holidays", "Holiday")">
    <div class="row row-spacer">
        <div class="col-md-4">
            <label for="StartDate">Start Date</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(x => x.InputtedHoliday.StartDate, null, new { @class = "form-control", type = "date" })
        </div>
    </div>
    <div class="row row-spacer">
        <div class="col-md-4">
            <label for="EndDate">End Date</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(x => x.InputtedHoliday.EndDate, null, new { @class = "form-control", type = "date" })
        </div>
    </div>
    <div class="row row-spacer">
        <div class="col-md-4">
            <label for="Reason">Reason for Holiday</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(x => x.InputtedHoliday.Reason, null, new { @class = "form-control" })
        </div>
    </div>


    @if (Model.ConflictedBooking.Any())
    {
        <div class="col">
            <table>
                <thead>
                    <tr>
                        <th>Date and Time</th>
                        <th>Guests</th>
                        <th>Location</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Phone Number</th>
                        <th>Email Address</th>
                    </tr>
                </thead>
                <tbody>
                    @for (var i = 0; i < Model.ConflictedBooking.Count(); i++)
                    {
                        @Html.HiddenFor(x => Model.ConflictedBooking[i].Id)
                        <tr>
                            <td> @Model.ConflictedBooking[i].Time</td>
                            <td> @Model.ConflictedBooking[i].Guests</td>
                            <td> @Model.ConflictedBooking[i].RequestedLocation</td>
                            <td> @Model.ConflictedBooking[i].FirstName</td>
                            <td> @Model.ConflictedBooking[i].LastName</td>
                            <td> @Model.ConflictedBooking[i].PhoneNumber</td>
                            <td> @Model.ConflictedBooking[i].EmailAddress</td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>

        <div class="row row-spacer">
            <div class="col-md-8 offset-md-4 row-spacer">
                Confirm deletion of bookings, goat:
                @Html.CheckBox("confirmDelete")                
            </div>
        </div>
    }


    <div class="col-md-8 offset-md-4">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
