@{
    ViewData["Title"] = "Deleting and Viewing Tables";
}

@model Table

<div class="text-center">
    <h1>@ViewData["Title"]</h1>
    <p>For managing tables.</p>
</div>

<div class="row">
    <div class="col-md-6 order-md-2">
        @Html.ValidationSummary()

        <form method="POST" class="tables" action="/Home/DeleteTable">
         @Html.HiddenFor(x => x.Id)
            <div class="col-12">
                <div class="row row-spacer">
                    <div class="col-md-4">
                        <label for="Id">ID</label>
                    </div>
                    <div class="col-md-8">
                        @Html.ValueFor(x => x.Id)
                    </div>
                </div>
                <div class="row row-spacer">
                    <div class="col-md-4">
                        <label for="Chairs">Chairs</label>
                    </div>
                    <div class="col-md-8">
                        @Html.ValueFor(x => x.Chairs)
                    </div>
                </div>
                <div class="row row-spacer">
                    <div class="col-md-4">
                        <label for="Location">Location</label>
                    </div>
                    <div class="col-md-8">
                        @Html.ValueFor(x => x.Location)
                    </div>
                </div>
                    <div class="col-md-8 offset-md-4 row-spacer">
                        <button type="submit" class="btn btn-primary">Delete</button>
                    </div>
                </div>
        </form>
    </div>
</div>


