@{
    ViewData["Title"] = "Home Page";
}
@model List<Booking>;

<div class="col">
    <table>
        <thead> 
            <tr>
                <th>Date and Time</th>
                <th>Guests</th>
                <th>Location</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Phone Number</th>
				<th>Email Address</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
    @foreach (var booking in Model){
            <tr>
                <td> @booking.Time</td>
                <td> @booking.Guests</td>
                <td> @booking.RequestedLocation</td>
                <td> @booking.FirstName</td>
                <td> @booking.LastName</td>
                <td> @booking.PhoneNumber</td>
                <td> @booking.EmailAddress</td>
                <td>@Html.ActionLink("Details", "ViewBooking", "Booking", new { id = booking.Id })</td>
            </tr>
      

    }
    </tbody>
    </table>

</div>



    